* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 5rem auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 720px;

  background-color: #f5f5f5;
  border-radius: 20px;
}
.task-header {
  padding-top: 30px;
  width: 26rem;
  display: flex;
  font-size: 22px;
  font-weight: 500;
  margin-left: 80px;
  /* text-align: left; */
}
.list {
  display: flex;
  background-color: #e07c7c;
  justify-content: flex-start;
}
.list-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 20px;
  text-justify: center;
  margin-top: 20px;
  height: 20px;
  width: 540px;
  color: rgb(125, 125, 125);
}
.inside-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 10px;
  margin-top: 10px;
}
.title {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}
.checkIcon {
  z-index: 20;
  position: absolute;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 4px;
}
.checkBox {
  z-index: 10;
  /* padding-bottom: 25px; */
  /* padding-right: 40px; */
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 20px;
  /* background-color: #877549; */
}
.lineThroughText {
  text-decoration-line: line-through;
}
.cancel {
  cursor: pointer;
}
.edit-delete {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.drop-down {
  position: relative;
  width: 50px;
  cursor: pointer;
  border-width: 2px;
}
.drop-down-content {
  position: absolute;
  top: 35px;
  min-width: 80px;
  font-size: small;
  right: 0px;
  background-color: #f5f5f5;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  border-radius: 10px;
  transition: 2.5;
}
.editInput {
  position: absolute;
  top: -57.5px;
  height: 0px;
  left: -450px;
  z-index: 20;
}
.button {
  color: #e07c7c;
}
.dot {
  font-size: x-large;
  text-align: center;
  margin-bottom: 30px;
}
.inputText {
  margin-top: 20px;
  justify-content: center;
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.progrees-bar {
  width: 518px;
  height: 123px;
  background: #e07c7c;
  border-radius: 20px;
  padding: 20px;
  position: flex;
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}
.edit-text {
  z-index: 30px;
  position: relative;
}
.saveButton {
  position: absolute;
  top: -53px;
  right: -30px;
  color: white;
  background-color: #585292;
  border-radius: 30px;
  padding: 5px 10px 10px 15px;
  font-size: small;
  z-index: 20;
  text-indent: -5px;
}

input[type="radio"] {
  -webkit-appearance: none;
  background-color: #ffffff;
  border: 2px solid #585292;
  border-radius: 5px;
}
input[type="radio"]:checked {
  background-color: #585292;
}

.drop-down-filter {
  position: relative;
  display: flex;
  flex-direction: row;
}

@media screen {
  .drop-down-filter-content {
    display: flex;
    width: 6.5rem;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 30px;
    height: 30px;
    padding: 10px 20px 10px 10px;
    text-justify: center;
    text-align: left;
    border-radius: 10px;
    font-size: small;
    margin-right: 75px;
    z-index: 20;
  }
}

.selector {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.optionAll {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 10px;
  top: 35%;
  left: 61%;
  background-color: #ffffff;
  font-size: small;
  padding: 10px 10px 10px 10px;
  width: 105px;
  z-index: 30;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.option1 {
  padding-left: 5px;
  background-color: #ffffff;
  text-align: left;
}
.option1:hover {
  background-color: #585292;
  color: #ffffff;
  border-radius: 10px;
  text-indent: 5px;
  padding: 5px 0px 5px 0px;
}
.option2 {
  background-color: #ffffff;
  text-indent: 5px;
}
.option2:hover {
  background-color: #585292;
  color: #ffffff;
  border-radius: 10px;
  text-indent: 5px;
  padding: 5px 0px 5px 0px;
}
.option3 {
  background-color: #ffffff;
  text-indent: 5px;
}
.option3:hover {
  background-color: #585292;
  color: #ffffff;
  border-radius: 10px;
  text-indent: 5px;
  padding: 5px 0px 5px 0px;
}
.head-drop-down {
  /* background-color: #e07c7c; */
}
.downLine {
  font-size: large;
  cursor: pointer;
}
.completed-status {
  font-size: small;
  margin-top: 15px;
  color: #ebb9b8;
}
.bar-container {
  position: relative;
  margin-top: 20px;
  height: 7px;
}
.barBack {
  position: absolute;
}
.barStatus {
  position: absolute;
  z-index: 20;
}
.add-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin-left: 230px;
  margin-top: -70px;
  margin-bottom: 10px;
  border: #ffffff;
  color: rgb(255, 255, 255);
  background-color: #585292;
  padding-top: 7px;
  cursor: pointer;
}
.add-button:hover {
  background-color: #9e9ac2;
}
.edit:hover {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 2px 0px 2px;
}
.delete:hover {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}
